
<div style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;" *ngIf="!chartData" class="lds-circle"><div></div></div>


<div *ngIf="chartData" style="display: block">
    <canvas baseChart width="50%" height="20%"
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [chartType]="'line'"
                (chartHover)="chartHovered($event)" 
                (chartClick)="chartClicked($event)"></canvas>
  </div>
