

<mat-form-field style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;margin-bottom: 2rem;" appearance="fill">
    <mat-label>Choose the cryptovalue to plot</mat-label>
    <mat-select [(ngModel)]="filterOnCrypto">
      <mat-option *ngFor="let c of allCryptos" [value]="c.acronym">{{c.name}}</mat-option>
    </mat-select>
  </mat-form-field>

<div style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;" *ngIf="((filterOnCrypto.length!==0) && (!chartData))" class="lds-circle"><div></div></div>

<div *ngIf="chartData" style="display: block">
    <canvas baseChart width="50%" height="20%"
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [chartType]="'line'"
                (chartHover)="chartHovered($event)" 
                (chartClick)="chartClicked($event)"></canvas>
  </div>
